<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body onload="startGame()">

<div id= "joiningControls">
	<input type="text" id="roomNumber" name="roomNumber" placeholder="0000"><br><br>
	<button type="submit" onclick="joinRoom()">join room</button>
	<button type="submit" onclick="createRoom()">create room</button>
</div>
<p id="roomCodeDisplay"></p>
<div id= "spriteControls" style="display:none;">
	<button type="submit" onclick="sendRemoveSprite()">Remove Sprite</button>
	<button type="submit" onclick="sendAddSprite()">Add Sprite</button>
	<select id="ddlViewBy">
	  <option value="diega">diega</option>
	  <option value="magnus" selected="selected">magnus</option>
	  <option value="meera">meera</option>
	  <option value="luciana">luciana</option>
	  <option value="eadwynn">eadwynn</option>
	  <option value="miguel">miguel</option>

	</select>
</div>
<canvas id="canvas" style="display:none">
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/spriteLoader.js"></script>
<script src="/javascripts/tile.js"></script>
<script src="/javascripts/tileContainer.js"></script>
<script src="/javascripts/selector.js"></script>
<script src="/javascripts/player.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>

