body{
    background-color: #444444;
}

canvas {
    background-color: #f1f1f1;
	margin-left:120px;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

html, body {margin: 0; height: 100%;}


